@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Montserrat&family=Padauk&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Montserrat&family=Overpass:wght@300&family=Padauk&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass',sans-serif;
    

}
body{
    background-color:rgb(0, 0, 0);
    
}

   
   .card2 {
    width: 500px;
    height: 335px;
    background-color: #ffffff;
    border-radius:20px;
    
    padding:15px;
    color: whitesmoke;

  
  
   }
   .main{
       align-items: center;
       justify-content: center;
       display: flex;
       flex-direction: column;
       width: 100%;

   }
   
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   .card__content img{
       
       height: 340px;
       width:300px;
       border-radius:500px;
       margin: 25px;
       box-shadow: 5px 5px 10px 5px #181a21 ;
       
   }
   #hd{
       font-size: 30px;
       font-family: 'Overpass',sans-serif;
       margin: 20px;
       color: whitesmoke;
       
   }
   .card2 p{
       color: black;
       font-size: 20px;
   }
   .card2 button{
       color: black;
     
   }
   .card2 p #ld,#rd{
       color: black;
       font-size: 50px;
       font-weight: 800;
   }
   .card2 p #more{
      
       display: none;
   }
   button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-left: 60%;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more #button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #212228;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover #button-text {
    color: #fff;
   }
   .sidebar{
       color: black;
       background-color: white;
       height: 100%;
       width: 500px;
       
   }
   .all{
       display: flex;
       flex-direction: row;
       position: relative;
       
   }